@use "../../styles/partials/utils/index" as *;

.app__container{
  width: 100%;
  // border: 1px solid red;
  margin-bottom: 1rem;
}
.details{
  @include flex;

  &__wrapper{
    @include flex(center,center,row);
    gap: 2rem;
;  }
}

.input__wrapper{
  @include flex(flex-start, flex-start, column)
}

.upload__image{

  background-image: url("../../assets/images/jacket.jpg")
}


.input {
  // width: 100%;
  // position: relative;
  @include flex(flex-start, flex-start, column);
  
  @include media-tablet{
  }

	&__label {
    padding-bottom: 0.4rem;
	}
  
	&__field {
    min-width: 4rem;
    width: 100%;
		border-radius: 2rem;
		padding: 0.8rem 1.6rem;
    border:1px solid  $clr-secondary-lightgrey;
		@include media-tablet {
		}

    &::placeholder{
      height: 100%;
      color: $clr-secondary-darkgrey;
      font-size: 1.3rem;
      line-height: 1.8rem;
      font-weight: 400;
    }

    &:active, &:focus{
      border:1px solid  $clr-primary-indigo;
    }
	}
	&__wrapper {
    width:100%;
	}
}

.calculator__container{
  @include flex(flex-start, flex-start, column);
  gap: 2rem;
}
.calculator__wrapper{
  @include flex;
  gap: 2rem;
}