@use "../../styles/index" as *;

.modal {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.4);
  &__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;
  }
  &__exit-button {
    &:hover {
      cursor: pointer;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px black solid;
    position: fixed;
    top: 80px;
    left: 35px;
  }
  &__container {
    margin-top: -70px;
    background-color: white;

    width: 271;

    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 48px;
    gap: 16px;
  }

  & .icon {
    max-width: 68px;
    padding-bottom: 18px;
  }
  &__text {
    width: 100%;
  }

  &__metrics {
    display: flex;
    flex-direction: row;
    & .metrics__icon {
      max-width: 12px;
    }
  }
}
