@use "../../styles/partials/utils/index" as *;


.footer{
  margin-top: 2rem;
      height: 83px;
    background-color: lightgrey;
  &__container{
    padding-top: 1.2rem;
    width:100%;
  }

  &__nav{
    width:100%;
    @include flex(space-between, center, row)
    // gap:1rem;
  }

  &__nav-item{
    @include flex(center, center, column)
  }

  &__nav-label{
    // color: red;
  }
}