@use "../../styles/partials/utils/index" as *;


.footer{
  &__container{
    width:100%;
    border: 1px solid red;
  }

  &__nav{
    width:100%;
    @include flex(space-between, center, row)
    // gap:1rem;
  }

  &__nav-item{
    @include flex(center, center, column)
  }

  &__nav-label{
    color: red;
  }
}